*, body {
    padding: 0;
    margin: 0;
}

.mr-30 {
    margin: 15px 15px 0 15px;
}

.mt-60 {
    margin-top: 60px;
}

.mt-165 {
    margin-top: 165px;
}

.mt-70{
    margin-top: 70px;
}

.stylelink{
    font-family: Inter;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    color: #333333!important;
}

.contact{
    /* font */
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    /* bg */
    background-color: #6255A5!important;
    border-color :   #6255A5!important;
    border-radius: 10px!important;
    width : 143px;
    height: 45px;
}

.title{
    font-family: 'Amaranth', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 130%;
    color: #413960;
}

.dsc {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 180%;
    color: #7D7791;
    margin-top: 20px;
}
.a1 {
    height: 480px;
}

.getstarted{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    background-color: #6255A5!important;
    border-color :   #6255A5!important;
    border-radius: 10px!important;
    width : 205px;
    height: 54px;
    margin-top: 20px;
}

.judul1 {
    font-family: Inter;
    font-weight: 500;
    font-size: 16px;
    color: #6255A5;
}

.judul2 {
    font-family: Amaranth;
    font-size: 36px;
    color: #413960;
}

.buy {
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 28px;
    line-height: 170%;
    color: #413960;
}